.section-six {
  background: #fee0c7;
  padding: 2rem 0;
  /* margin: auto; */
}

#approach-image {
  width: 80%;
}

.special-card {
  background: #fff;
  border-radius: 30px;
  /* padding: 10px; */
}
